cardTitle {
	display: inline-block;
	font-size:  40px;
	font-family: sans-serif;
	text-transform: uppercase;
	color: white;
	margin: 5px;
	padding: 10px;
}

input[type="time"] {
	height: 20px !important;
	width: 86px !important;
}

.cardSettings {
	font-size: 18px;
	margin-left: 10px;
	margin-top: 5px;
}

.device-card {
	position: relative;
	width:350px;
	height: 240px !important;
	margin: 20px;
	background-color: #e8e8e8;
	border-radius: 10px;
}
td {
	width:fit-content;
	padding: 9px 20px 9px 20px;
}
#fridge h6{
	margin-left: 12px;
	font-size: inherit;
}
#fridge p{
	margin-left: 9px;
	margin-bottom: 5px;
}
#fridge{
	height:auto;
}
.device-card-top {
	position: relative;
	width: 350px;
	height: 50px;
	background-color: #009f00;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.device-card-bottom {
	position: relative;
	width: 350px;
	height: 165px;
	background-color: #e8e8e8;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#createCardButton{
	transition-duration: 0.4s;
	background-color: #479dff;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 1px 2px #666;
	width:13em;
}
#createCardButton:active {
	background-color: rgb(0, 137, 250);
	box-shadow: none;
	transform: translateY(2px);
  }
#createCardButton:hover{
	background-color: #1c86ff; /* Green */
	color: white;
}
.switch-container {
	display: inline-block;
	float: right;
	margin:  5px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 40px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #58595B;
	transition: 0.4s;
	border-radius: 34px;
}

.switch input {display:none}

.slider:before {
	position: absolute;
	content: "";
	height: 30px;
	width: 30px;
	left: 5px;
	bottom: 5px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50px;
}

input:checked + .slider {
	background-color: #FF8200;
}

input:checked + .slider:before {
	transform: translate(30px);
}
