<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MK 530 Web App</title>
		

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
		
		<!--This is the pathing for the javascript hyperlink codes this file contains function definitions that are used to redirect the page-->
		<script type = "text/javascript" src="../static/js/links.js"></script>

		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<!-- The correct links to the css file are below -->
		<link rel="stylesheet" type="text/css" href="../static/css/index.css">
		
		 <!--object-position: -64px 0-->
		
<!--This stuff up here is important and works, maybe we can do something about the useless graphs though -->
	</head>

	<body id="body">
		
		
		
	    <nav class="top-bar" data-topbar>
			<!-- <div class="curent-image"> -->
				
			<!-- </div> -->
			<div class="container">
				
				<a href="#" onClick="return showHome()">
					<img src="../static/img/curent.png" alt="current image" width="250px" height="63px" align="right">
					<h2 id="brand">Min Kao 530<br>
					<span id="brand-small">Smart Home Test Bed</span></h2>
					
				</a>
			</div>
		</header>
		

		<header class="navbar-inverse" id="navbar">
			<div class="container">
				<ul class="nav navbar-nav">
					<li id="navHome" class="nav-link"><a href="{{ url_for('Frontpanel') }}" onclick="return showHome()" value="Display">Home</a></li>
					<li id="navPowergen" class="nav-link"><a href="{{ url_for('Frontpanel_SHEMSabout') }}" onclick="return showPowergeneration()" value= "Display">SHEMS project</a></li>
					<li id="navConditionals" class="nav-link active"><a href="{{ url_for('Frontpanel_ReVvabout') }}" onclick="return showConditions()" value="Display">ReVv project</a></li>
					<li id="navCamera" class="nav-link"><a href="{{ url_for('Frontpanel_CombinedTechabout') }}" onclick="return showLivecamera()" value="Display">Combined Smart Home Technologies</a></li>
					
				</ul> 

				<ul class="nav navbar-nav navbar-right">	

					<div class="dropdown">	

						<button class="btn btn-warning dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown">Project Websites<!--Larry: added a new line-->
						<span class="caret"></span></button><!--Larry: added a new line-->

							<ul class="dropdown-menu"><!--Larry: added a new line-->

								<li><a href="{{ url_for ('R_home') }}">ReVv website</a></li>
								<!-- The following code is the drop down menu on the right side of the site.
								 It is linked to using Flask from python and will probably only work if used that way-->
								<li><a href="{{ url_for ('home') }}">SHEMS website</a></li>
								<li><a href="{{ url_for ('ALPS_home') }}">Combined Technologies website</a></li>
								
								

							</ul><!--Larry: added a new line-->

					</div><!--Larry: added a new line-->

			  </ul>      <!--Larry: added a new line-->

			</div>
		</nav>

<!-- This is your body section each id=content is one section-->
		<div id="container" class ="container">
			<div id="content">
				<section id="home" class="page shown">
					<div class="section-title">
						<h4>About ReVv</h4>
					</div>
			</div>
					<div class="content-section-container">
						<p class="content-section text-justify">
						Energy management is a major focus of modern technological research. 
						The Smart Home Energy Management System (SHEMS) can lower peak energy usage by informing users of their energy consumption 
						and further encouraging them to be more mindful of their energy usage habits during peak load hours. 
						By providing interactive visualizations about the user's energy cosumption and by giving users a host of tools for greater control over their energy usage, 
						the Smart Home Energy Management System can have a major impact on how we use our energy.
						</p>
					<div class="content-section-container">
						<p class="content-section text-justify">
						Energy management is a major focus of modern technological research. 
						The Smart Home Energy Management System (SHEMS) can lower peak energy usage by informing users of their energy consumption 
						and further encouraging them to be more mindful of their energy usage habits during peak load hours. 
						By providing interactive visualizations about the user's energy cosumption and by giving users a host of tools for greater control over their energy usage, 
						the Smart Home Energy Management System can have a major impact on how we use our energy.
						</p>
					</div>
					</div>
		<!-- copy here for a new section -->	
			<div id="content">
				<section id="home" class="page shown">
					<div class="section-title">
						<h4>Goals of ReVv</h4>
					</div>
					<div class="content-section-container">
						<p class="content-section text-justify">
						Energy management is a major focus of modern technological research. 
						The Smart Home Energy Management System (SHEMS) can lower peak energy usage by informing users of their energy consumption 
						and further encouraging them to be more mindful of their energy usage habits during peak load hours. 
						By providing interactive visualizations about the user's energy cosumption and by giving users a host of tools for greater control over their energy usage, 
						the Smart Home Energy Management System can have a major impact on how we use our energy.
						</p>
					<div class="content-section-container">
						<p class="content-section text-justify">
						Energy management is a major focus of modern technological research. 
						The Smart Home Energy Management System (SHEMS) can lower peak energy usage by informing users of their energy consumption 
						and further encouraging them to be more mindful of their energy usage habits during peak load hours. 
						By providing interactive visualizations about the user's energy cosumption and by giving users a host of tools for greater control over their energy usage, 
						the Smart Home Energy Management System can have a major impact on how we use our energy.
						</p>
					</div>
					</div>
			<div id="content">
				<section id="home" class="page shown">
					<div class="section-title">
						<h4>What's been done so far</h4>
					</div>
					<div class="content-section-container">
						<p class="content-section text-justify">
						Energy management is a major focus of modern technological research. 
						The Smart Home Energy Management System (SHEMS) can lower peak energy usage by informing users of their energy consumption 
						and further encouraging them to be more mindful of their energy usage habits during peak load hours. 
						By providing interactive visualizations about the user's energy cosumption and by giving users a host of tools for greater control over their energy usage, 
						the Smart Home Energy Management System can have a major impact on how we use our energy.
						</p>
					<div class="content-section-container">
						<p class="content-section text-justify">
						Energy management is a major focus of modern technological research. 
						The Smart Home Energy Management System (SHEMS) can lower peak energy usage by informing users of their energy consumption 
						and further encouraging them to be more mindful of their energy usage habits during peak load hours. 
						By providing interactive visualizations about the user's energy cosumption and by giving users a host of tools for greater control over their energy usage, 
						the Smart Home Energy Management System can have a major impact on how we use our energy.
						</p>
					</div>
					</div>

		   </div>
		</div> <!--<div id="container" class ="container"> -->

<!--					
						<form>
  <label for="appt">Select a start time:</label>
  <input type="time" id="appt" name="appt">
</form> <!-- testing out the start time box -->

<!--
  <label for="appt">Select an end time:</label>
  <input type="time" id="appt" name="appt">
</form> 

	-->				
		
					
				
			
				<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
				<script type="text/javascript" src="http://www.nyiso.com/public/site/js/highcharts.js"></script>

				<script type="text/javascript">
				
		

				</div>
				</div>
				</div>
				</div>
				</div>

				<footer class="row">
				  <div class="large-12 columns">
					<hr>

					<div class="row">
					  <div class="large-12 columns">
						<p>© Copyright by <i>Smart Home and Grid Laboratory (SHGL) at the University of Tennessee Knoxville </i></p> -->
					  </div>
					</div>
				  </div>
				</footer>
			</section>
		</div>
	</div>
	</body>
</html>
				

