<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ReVv Web App</title>


		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<!--Added this for link -->
		<script type = "text/javascript" src="../static/js/links.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<!-- The correct links to the css file are below -->
		<link rel="stylesheet" type="text/css" href="../static/css/index.css">

<!--This stuff up here is important and works, maybe we can do something about the useless graphs though -->
	</head>

	<body id="body">

	    <nav class="top-bar" data-topbar>

			<div class="container">
				<a href="#" onClick="return showHome()">
					<img src="../static/img/curent.png" alt="current image" width="250px" height="63px" align="right">
					<h2 id="brand">ReVv<br>
					<span id="brand-small">Smart Industry Energy Management System</span></h2>
				</a>
			</div>
		</header>

		<header class="navbar-inverse" id="navbar">
			<div class="container">
				<ul class="nav navbar-nav">
					<li id="navHome" class="nav-link"><a href="{{ url_for('R_home') }}" onclick="return showHome()" value="Display">Home</a></li>
					<li id="navPowergen" class="nav-link"><a href="{{ url_for('R_powergeneration') }}" onclick="return showPowergeneration()" value= "Display">Live Look</a></li>
					<li id="navConditionals" class="nav-link active"><a href="{{ url_for('R_conditions') }}" onclick="return showConditions()" value="Display">Policy Conditions</a></li>
					<li id="navCamera" class="nav-link"><a href="{{ url_for('R_camera') }}" onclick="return showLivecamera()" value="Display">Live Camera</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">	<!--Larry: added a new line-->

					<div class="dropdown">	<!--Larry: added a new line-->

						<button class="btn btn-warning dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown">System Policies<!--Larry: added a new line-->
						<span class="caret"></span></button>
							<ul class="dropdown-menu"><!--Larry: added a new line-->

								<li><a href="{{ url_for ('Frontpanel') }}">MK 530 website</a></li>
								<li><a href="{{ url_for ('home') }}">SHEMS website</a></li>
								<li><a href="{{ url_for ('ALPS_home') }}">Combined Technologies website</a></li>
								<!-- The following code is the drop down menu on the right side of the site.
								 It is linked to using Flask from python and will probably only work if used that way-->
								<!--<li><a href="{{ url_for('channel1on') }}">Channel: 1 ON</a></li>
								<li><a href="{{ url_for('channel1off') }}">Channel: 1 OFF</a></li>
								<li><a href="{{ url_for('channel2on') }}">Channel: 2 ON</a></li>
								<li><a href="{{ url_for('channel2off') }}">Channel: 2 OFF</a></li>
								<li><a href="{{ url_for('channel3on') }}">Channel: 3 ON</a></li>
								<li><a href="{{ url_for('channel3off') }}">Channel: 3 OFF</a></li>
								<li><a href="{{ url_for('channel4on') }}">Channel: 4 ON</a></li>
								<li><a href="{{ url_for('channel4off') }}">Channel: 4 OFF</a></li>
								<li><a href="{{ url_for('channel5on') }}">Channel: 5 ON</a></li>
								<li><a href="{{ url_for('channel5off') }}">Channel: 5 OFF</a></li> -->
								

							</ul>

					</div>

			  </ul>      
			</div>
		</nav>

		<div id="container" class ="container">
			<div id="content">
				<section id="home" class="page shown">
					<div class="section-title">
						<h4>About ReVv</h4>
					</div>
					<div class="content-section-container">
						<p class="content-section text-justify">
						According to EIA forecasts, the electricity consumption in the United States will increase by 2.1% in 2021 after falling 3.8% in 2020.  Electricity sales to the industrial sector are expected to grow by 4.2% in 2021 while electricity sales to the residential sector will grow by only 2.3% in 2021. This increase is primarily a result of colder temperatures in the first quarter of 2021 compared with the same period in 2020. Much of the increased electricity consumption across the sectors reflects improving economic conditions in 2021. For 2022, the forecast expects U.S. electricity consumption will grow by another 1.3%. It is expected that energy consumption will continue this trend upward with growing prominence of electric vehicles.
						</p>
					</div>
	<!--				
						<form>
  <label for="appt">Select a start time:</label>
  <input type="time" id="appt" name="appt">
</form> <!-- testing out the start time box -->
-->
<!--
  <label for="appt">Select an end time:</label>
  <input type="time" id="appt" name="appt">
</form> 	
-->
<!--added here table of data-->
<iframe id="eia_widget" style="width:100%;height:500px" src="//www.eia.gov/opendata/embed/iframe.php?series_id=ELEC.GEN.ALL-US-99.M;ELEC.GEN.COW-US-99.M;ELEC.GEN.NG-US-99.M;ELEC.GEN.NUC-US-99.M;ELEC.GEN.HYC-US-99.M;ELEC.GEN.WND-US-99.M;ELEC.GEN.TSN-US-99.M&analysis=none" load="iframe_load"></iframe>
				
					
		
				</div>
				</div>
				</div>
				</div>
				</div>

				<footer class="row">
				  <div class="large-12 columns">
					<hr>

					<div class="row">
					  <div class="large-12 columns">
						<!--<p>© Copyright by <i>Smart Home and Grid Laboratory (SHGL) at the University of Tennessee Knoxville </i></p> -->
					  </div>
					</div>
				  </div>
				</footer>
			</section>
		</div>
	</div>
	</body>
</html>
				

