<!doctype html>
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReVv webapp</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
		
		<!--This is the pathing for the javascript hyperlink codes this file contains function definitions that are used to redirect the page-->
		<script type = "text/javascript" src="../static/js/links.js"></script>
        <script src="/home/pi/ProjectFiles/webapp/static/js/modernizr.js"></script>

		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
		<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
		<!-- The correct links to the css file are below -->
		<link rel="stylesheet" type="text/css" href="../static/css/foundation.css">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">

    </br>
     	<body id="body">

	    <nav class="top-bar" data-topbar>
			<div class="container">
				<a href="#" onClick="return showHome()">
					<img src="../static/img/curent.png" alt="current image" width="250px" height="63px" align="right">
					<h2 id="brand">ReVv<br>
					<span id="brand-small">Smart Industry Energy Management System</span></h2>
				</a>
			</div>
		</header>

		<header class="navbar-inverse" id="navbar">
			<div class="container">
				<ul class="nav navbar-nav">
					<li id="navHome" class="nav-link"><a href="{{ url_for('R_home') }}" onclick="return showHome()" value="Display">Home</a></li>
					<li id="navPowergen" class="nav-link"><a href="{{ url_for('R_powergeneration') }}" onclick="return showPowergeneration()" value= "Display">Live Look</a></li>
					<li id="navConditionals" class="nav-link active"><a href="{{ url_for('R_conditions') }}" onclick="return showConditions()" value="Display">Policy Conditions</a></li>
					<li id="navCamera" class="nav-link"><a href="{{ url_for('R_camera') }}" onclick="return showLivecamera()" value="Display">Live Camera</a></li>
				</ul>
    <div class="container-fluid">
		<ul class="nav navbar-nav navbar-right">	<!--Larry: added a new line-->
   					<div class="dropdown">	<!--Larry: added a new line-->

						<button class="btn btn-warning dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown">System Policies<!--Larry: added a new line-->
						<span class="caret"></span></button>
							<ul class="dropdown-menu"><!--Larry: added a new line-->

								<li><a href="{{ url_for ('Frontpanel') }}">MK 530 website</a></li>
								<li><a href="{{ url_for ('home') }}">SHEMS website</a></li>
								<li><a href="{{ url_for ('ALPS_home') }}">Combined Technologies website</a></li>
								<!-- The following code is the drop down menu on the right side of the site.
								 It is linked to using Flask from python and will probably only work if used that way-->
								<!--<li><a href="{{ url_for('channel1on') }}">Channel: 1 ON</a></li>
								<li><a href="{{ url_for('channel1off') }}">Channel: 1 OFF</a></li>
								<li><a href="{{ url_for('channel2on') }}">Channel: 2 ON</a></li>
								<li><a href="{{ url_for('channel2off') }}">Channel: 2 OFF</a></li>
								<li><a href="{{ url_for('channel3on') }}">Channel: 3 ON</a></li>
								<li><a href="{{ url_for('channel3off') }}">Channel: 3 OFF</a></li>
								<li><a href="{{ url_for('channel4on') }}">Channel: 4 ON</a></li>
								<li><a href="{{ url_for('channel4off') }}">Channel: 4 OFF</a></li>
								<li><a href="{{ url_for('channel5on') }}">Channel: 5 ON</a></li>
								<li><a href="{{ url_for('channel5off') }}">Channel: 5 OFF</a></li> -->
								

							</ul>

					</div>
    </ul>
  </div>
  </div>
</nav><!-- End Navigation -->
  </div>
</div>

</br>


<div class="row">
    <div class="large-11 columns">
        <div class="callout panel">
            <p><b>System is operating in <font color="green">User Setting Mode</font>.</b></p>
        </div>
    </div>
    <div class="large-4 columns">
    <label>Mode selection</label>
        <select>
            <option value="admin">Administration mode</option>
            <option value="Smart">User Settings mode</option>
				       <!-- <option value="Comfortable">Comfortable</option> -->
        </select>
    </div>
    <a href="#" class="large success button">Change</a>
</div>



<div class="row">
    <a href="#panel3" align="middle"><b></b></a>
        <div id="panel3" class="content">
            <div class="row">
                <div class="large-12 columns">
                    <div class="large-8 medium-4 columns">
                    <div class="callout panel">
                        <p><b>Opting for ADR: <font color="red">NO</font></b></p>
                    </div>
                    </div>
                    <a href="#" class="medium success button">Yes</a>
                    <a href="#" class="medium alert button">No</a>
                </div>
    </div>
    <a href="#panel3" align="middle"><b></b></a>
        <div id="panel3" class="content">
            <div class="row">
                <div class="large-12 columns">
                    <div class="large-8 medium-4 columns">
                    <div class="callout panel">
                        <p><b>Driver Status: <font color="red">OFF</font></b></p>
                    </div>
                    </div>
                    <a href="#" class="medium success button">ON</a>
                    <a href="#" class="medium alert button">OFF</a>
                </div>
                <a href="#panel3" align="middle"><b></b></a>
       </div>
       <a href="#panel3" align="middle"><b></b></a>
        <div id="panel3" class="content">
            <div class="row">
                <div class="large-12 columns">
                    <div class="large-8 medium-4 columns">
                    <div class="callout panel">
                        <p><b>Opting for interpolation based pre-cooling: <font color="red">YES</font></b></p>
                    </div>
                    </div>
                    <a href="#" class="medium success button">Yes</a>
                    <a href="#" class="medium alert button">No</a>
                </div>
    </div>
       <a href="#panel3" align="middle"><b></b></a>
        <div id="panel3" class="content">
            <div class="row">
                <div class="large-12 columns">
                    <div class="large-8 medium-4 columns">
                    <div class="callout panel">
                        <p><b>Current Temperature: <font color="Blue">56 C</font></b></p>
                    </div>
                    </div>
                    <a href="#" class="medium success button">Yes</a>
                    <a href="#" class="medium alert button">No</a>
                </div>
    </div>
            <div class="large-12 columns">
            <div class="large-4 medium-4 columns">
                <label> The High temperature Setting: </label>
				<input type="text" placeholder="High temperature Value" />
            </div>
             <div class="large-4 medium-4 columns">
                <a href="#" class="medium secondary button">Submit Settings</a>
             </div>
            </div>
            <div class="large-12 columns">
            <div class="large-4 medium-4 columns">
                <label> The Low temperature Setting: </label>
				<input type="text" placeholder="Low temperature Value" />
            </div>
             <div class="large-4 medium-4 columns">
                <a href="#" class="medium secondary button">Submit Settings</a>
             </div>
            </div>
            <div class="large-12 columns">
            <div class="large-4 medium-4 columns">
                <label> The Desired temperature Setting: </label>
				<input type="text" placeholder="Desired temperature Value" />
            </div>
             <div class="large-4 medium-4 columns">
                <a href="#" class="medium secondary button">Submit Settings</a>
             </div>
            </div>
            <div class="large-12 columns">
            <div class="large-4 medium-4 columns">
                <label> ADR start time: </label>
				<input type="text" placeholder="12:00" />
            </div>
             <div class="large-4 medium-4 columns">
                <a href="#" class="medium secondary button">Submit Settings</a>
             </div>
            </div>
            <div class="large-12 columns">
            <div class="large-4 medium-4 columns">
                <label> ADR duration: </label>
				<input type="text" placeholder="12:00" />
            </div>
             <div class="large-4 medium-4 columns">
                <a href="#" class="medium secondary button">Submit Settings</a>
             </div>
            </div>
            <div class="large-12 columns">
            <div class="large-4 medium-4 columns">
                <label> ADR end time: </label>
				<input type="text" placeholder="12:00" />
            </div>
             <div class="large-4 medium-4 columns">
                <a href="#" class="medium secondary button">Submit Settings</a>
             </div>
            </div>
            <div class="large-12 columns">
            <div class="large-4 medium-4 columns">
                <label> Pricing threshold: </label>
				<input type="text" placeholder="0.05" />
            </div>
             <div class="large-4 medium-4 columns">
                <a href="#" class="medium secondary button">Submit Settings</a>
             </div>
            </div>
        </div>
    </div>
  </dd>
 <!-- <dd>
    <a href="#panel2" align="middle"><b>Air Conditioner</b></a>
    <div id="panel2" class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="large-8 medium-4 columns">
                <div class="callout panel">
                    <p><b>Current Status: T = <font color="green">73 F</font>;   T_Low =<font color="blue"> 65 F</font>;   T_High = <font color="red">75 F</font>; <font color="red">OFF</font>.</b></p>
                </div>
                </div>
                <a href="#" class="medium success button">ON</a>
                <a href="#" class="medium alert button">OFF</a>
            </div>
            <div class="large-12 columns">
            <div class="large-4 medium-4 columns">
                <label> The T_Low Setting: </label>
				<input type="text" placeholder="T_Low Value" />
            </div>
            <div class="large-4 medium-4 columns">
                <label> The T_High Setting: </label>
				<input type="text" placeholder="T_High Value" />
            </div>
             <div class="large-4 medium-4 columns">
                <a href="#" class="medium secondary button">Submit Settings</a>
             </div>
            </div>
        </div>
    </div>
  </dd> -->
  <!--<dd>
    <a href="#panel3" align="middle"><b>Driver Status</b></a>
    <div id="panel3" class="content">
          <div class="row">
            <div class="large-12 columns">
                <div class="large-8 medium-4 columns">
                <div class="callout panel">
                    <p><b>Driver Status: <font color="red">OFF</font></b></p>
                </div>
                </div>
                <a href="#" class="medium success button">ON</a>
                <a href="#" class="medium alert button">OFF</a>
            </div>
            <div class="large-12 columns">
                <div class="large-8 medium-4 columns">
                <div class="callout panel">
                    <p><b>Light#2_Status: <font color="red">OFF</font>.</b></p>
                </div>
                </div>
                <a href="#" class="medium success button">ON</a>
                <a href="#" class="medium alert button">OFF</a>
            </div>
                    <div class="large-12 columns">
                <div class="large-8 medium-4 columns">
                <div class="callout panel">
                    <p><b>Light#3_Status: <font color="red">OFF</font>.</b></p>
                </div>
                </div>
                <a href="#" class="medium success button">ON</a>
                <a href="#" class="medium alert button">OFF</a>
            </div>
                    <div class="large-12 columns">
                <div class="large-8 medium-4 columns">
                <div class="callout panel">
                    <p><b>Light#4_Status: <font color="red">OFF</font>.</b></p>
                </div>
                </div>
                <a href="#" class="medium success button">ON</a>
                <a href="#" class="medium alert button">OFF</a>
            </div>
                    <div class="large-12 columns">
                <div class="large-8 medium-4 columns">
                <div class="callout panel">
                    <p><b>Light#5_Status:<font color="red"> OFF</font>.</b></p>
                </div>
                </div>
                <a href="#" class="medium success button">ON</a>
                <a href="#" class="medium alert button">OFF</a>
                <div class="large-12 columns">
            <div class="large-4 medium-4 columns">
                <label> The Low temperature Setting: </label>
				<input type="text" placeholder="Low temperature Value" />
            </div>
            <div class="large-4 medium-4 columns">
                <label> The High temperature Setting: </label>
				<input type="text" placeholder="High temperature Value" />
            </div>
             <div class="large-4 medium-4 columns">
                <a href="#" class="medium secondary button">Submit Settings</a>
             </div> 
            </div>
            </div>
        </div>
    </div>
  </dd> -->

  <!--<dd>
    <a href="#panel4" align="middle"><b>Electrical Vehicle</b></a>
    <div id="panel4" class="content">
           <div class="row">
            <div class="large-12 columns">
                <div class="large-8 medium-4 columns">
                <div class="callout panel">
                    <p><b>Current Status: SOC= <font color="green">60%</font>; SOC_Target = <font color="blue">90%</font>; <font color="green">ON</font>.</b></p>
                </div>
                </div>
                <a href="#" class="medium success button">ON</a>
                <a href="#" class="medium alert button">OFF</a>
            </div>
            <div class="large-12 columns">
                </br>
            <div class="large-8 medium-4 columns">
                <label> The Target of SOC: </label>
				<input type="text" placeholder="SOC Value (%)" />
            </div>
             <div class="large-4 medium-4 columns">
                <a href="#" class="medium secondary button">Submit Settings</a>
             </div>
            </div>
        </div>
    </div>
  </dd>

  <dd>
    <a href="#panel5"align="middle"><b>Others</b></a>
    <div id="panel5" class="content">

              <div class="row">
            <div class="large-12 columns">
                <div class="large-8 medium-4 columns">
                <div class="callout panel">
                    <p><b>Dishwasher#1_Status: <font color="red">OFF</font>.</b></p>
                </div>
                </div>
                <a href="#" class="medium success button">ON</a>
                <a href="#" class="medium alert button">OFF</a>
            </div>
            <div class="large-12 columns">
                <div class="large-8 medium-4 columns">
                <div class="callout panel">
                    <p><b>Washing Machine#2_Status: <font color="red">OFF</font>.</b></p>
                </div>
                </div>
                <a href="#" class="medium success button">ON</a>
                <a href="#" class="medium alert button">OFF</a>
            </div>
                    <div class="large-12 columns">
                <div class="large-8 medium-4 columns">
                <div class="callout panel">
                    <p><b>Dryer#3_Status: <font color="red">OFF</font>.</b></p>
                </div>
                </div>
                <a href="#" class="medium success button">ON</a>
                <a href="#" class="medium alert button">OFF</a>
            </div>

        </div>
    </div>
  </dd>
</dl>
  </div>
</div> -->

</br>

<footer class="row">
  <div class="large-12 columns">
    <hr>

    <div class="row">
      <div class="large-12 columns">
        <p>© Copyright by <i>Smart Home and Grid Laboratory (SHGL) at the University of Tennessee Knoxville </i></p>
      </div>
    </div>
  </div>
</footer>
    <link rel="stylesheet" href="http://www.nyiso.com/public/site/css/graphs.css" type="text/css"/><!-- Causes unknown nav issue, interferes with bootstrap-->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.js"></script>
    <script>
      $(document).foundation();
      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>

  </body>
</html>
