<script>
  let socket = new WebSocket("ws://192.168.0.110:8000/ws/dashboard/");

  socket.onopen = function(event) {
    console.log("Connection established");
  };

  socket.onmessage = function(event) {
    let data = JSON.parse(event.data);
    console.log(data);
  };

  socket.onclose = function(event) {
    if (event.wasClean) {
      console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
    } else {
      console.log('[close] Connection died');
    }
  };
</script>