{% extends "base.html" %}
{% block title %}Dashboard | {% endblock %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
<div class="row my-3">
  <div class="col-md-6 my-3">
    <div class="card">
      <div class="card-header">
        <h2 class="tomorrow-medium">System Status</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4>System Load</h4>
            <p id="system-load">0.0 W</p>
          </div>
          <div class="col-md-6">
            <h4>Power Source</h4>
            <p id="power-source">Grid</p>
          </div>
          <div class="col-md-6">
            <h4>Temp</h4>
            <p id="fridge-temp">-1.0 F</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 my-3">
    <div class="card">
      <div class="card-header">
        <h2 class="tomorrow-medium">Battery Backup</h2>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-12">
            <h4>Estimated Charge</h4>
            <div class="progress" style="height: 40px;">
              <div id="battery-charge-bar" class="progress-bar bg-curent-green" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Current Load</h4>
            <p id="battery-load">0.0 W</p>
          </div>
          <div class="col-md-6">
            <h4>Est. Remaining Backup</h4>
            <p id="battery-remaining-time">0 hours</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="tomorrow-medium">System Load</h2>
      </div>
      <div class="card-body">
        <canvas id="live-load-chart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="tomorrow-medium">Weekly Load</h2>
      </div>
      <div class="card-body">
        <canvas id="weekly-load-chart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-12 my-3">
    <div class="card">
      <div class="card-header">
        <h2 class="tomorrow-medium">Price Data</h2>
      </div>
      <div class="card-body">
        <canvas id="weekly-price-chart"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const weeklyPriceLabels = JSON.parse('{{ weeklyPriceLabels|safe }}');
  const weeklyPriceData = JSON.parse('{{ weeklyPriceData|safe }}');

  const weekly_price_ctx = document.getElementById('weekly-price-chart').getContext('2d');
  const weeklyPriceChart = new Chart(weekly_price_ctx, {
    type: 'bar',
    data: {
      labels: weeklyPriceLabels,
      datasets: [{
        label: 'Cost per kWh (cents USD)',
        data: weeklyPriceData,
        fill: true,
        backgroundColor: 'rgb(0, 120, 0)',
        borderColor: 'rgb(0, 120, 0)',
        borderWidth: 1,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        },

        x: {
          ticks: {
            autoSkip: true,
            maxTicksLimit: 7
          }
        }
      }
    }

  })

  const weeklyLoadLabels = JSON.parse('{{ weeklyLoadLabels|safe }}');
  const weeklyLoadData = JSON.parse('{{ weeklyLoadData|safe }}');

  const weekly_load_ctx = document.getElementById('weekly-load-chart').getContext('2d');
  const weeklyLoadChart = new Chart(weekly_load_ctx, {
    type: 'line',
    data: {
      labels: weeklyLoadLabels,
      datasets: [{
        label: 'System Load (W)',
        data: weeklyLoadData,
        backgroundColor: 'rgb(0, 120, 0)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: false
        },

        x: {
          ticks: {
            autoSkip: true,
            maxTicksLimit: 7
          }
        }

      }
    }
  });


  let liveLoadData = [];
  let liveLabels = [];

  const live_ctx = document.getElementById('live-load-chart').getContext('2d');
  const systemLoadChart = new Chart(live_ctx, {
    type: 'line',
    data: {
      labels: liveLabels,
      datasets: [{
        label: 'System Load (W)',
        data: liveLoadData,
        borderColor: 'rgb(0, 120, 0)',
        borderWidth: 2,
        tension: 0.3
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        },

        x: {
          ticks: {
            autoSkip: true,
            maxTicksLimit: 10
          }
        }
      }
    }
  });

  // Function to request updates
  function fetchDashboardUpdate() {
    fetch('/dashboard/update/')
      .then(response => response.json())
      .then(data => {
        console.log(data);

        document.getElementById("system-load").innerText = data.system_current_power.toFixed(2) + " W";
        document.getElementById("fridge-temp").innerText = data.fridge_current_temp.toFixed(2) + " F";
        document.getElementById("power-source").innerText = data.power_source;
        document.getElementById("battery-load").innerText = data.battery_current_power.toFixed(2) + " W";
        document.getElementById("battery-remaining-time").innerText = data.battery_remaining_time.toFixed(1) + " hours";
        document.getElementById("battery-charge-bar").style.width = data.battery_charge.toFixed(0) + "%";
        document.getElementById("battery-charge-bar").innerText = data.battery_charge.toFixed(0) + "%";
        
        if (data.power_source === "Battery") {
          document.getElementById("battery-charge-bar").classList.add("progress-bar-striped", "progress-bar-animated");
        } else {
          document.getElementById("battery-charge-bar").classList.remove("progress-bar-striped", "progress-bar-animated");
        }

        // Get current time as label
        let currentTime = new Date().toLocaleTimeString();
        liveLabels.push(currentTime);
        liveLoadData.push(data.system_current_power);
        if (liveLabels.length > 20) {
          liveLabels.shift();
          liveLoadData.shift();
        }

        systemLoadChart.update();
      })
      .catch(error => {
        console.error('Error fetching dashboard update:', error);
      });
  }

  setInterval(fetchDashboardUpdate, 5000);

  // Initial fetch
  fetchDashboardUpdate();
});
</script>
{% endblock %}